@font-face {
	font-family: 'Conv_StarJedi-DGRW';
	src: url('../fonts/fonts/StarJedi-DGRW.eot');
	src: local('вє'), url('../fonts/fonts/StarJedi-DGRW.woff') format('woff'), url('../fonts/fonts/StarJedi-DGRW.ttf') format('truetype'), url('../fonts/fonts/StarJedi-DGRW.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #000;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 800px;
  width: 150vw;
  perspective: 500px;
  color: #feda4a;
  font-size: 400%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  position: relative;
  left: -25%;
  text-align: center;
  background-image: url("../img/strs_bckg.jpg");
  
}

.slide {
  position: relative;
  animation: slide 30s linear ;
  top: 800px;
  transform-origin: 50% 100%;
  animation-iteration-count: infinite;
  font-family: 'Conv_StarJedi-DGRW', sans-serif;
}

p {
  margin-bottom: 200px;
}

  

@keyframes slide {
  0% {
    top: 300%;
    transform: rotateX(25deg) translateZ(0px);
  }

  100% {
    top: -5000px;
    transform: rotateX(30deg) translateZ(-3000px);
  }
}

audio {
  display: none;
}

h1 {
  position: absolute;
  width: 2.6em;
  left: 50%;
  top: 10%;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow: -2px -2px 0 #feda4a, 2px -2px 0 #feda4a, -2px 2px 0 #feda4a,
    2px 2px 0 #feda4a;
  opacity: 0;
  z-index: 1;
  -webkit-animation: logo 5s ease-out 2.5s;
  -moz-animation: logo 5s ease-out 2.5s;
  -ms-animation: logo 5s ease-out 2.5s;
  -o-animation: logo 5s ease-out 2.5s;
  animation: logo 5s ease-out 2.5s;
  font-family: 'Conv_StarJedi-DGRW', sans-serif;
}

h1 sub {
  display: block;
  font-size: 0.3em;
  letter-spacing: 0;
  line-height: 0.9em;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }
}